/* Background image for the home page */
.home-background {
  background-image: url("../../../assets/background1.png"); /* Adjust the path as needed */
  height: 655px; /* Or any desired height */
  background-size: cover;
  background-position: center;
  background-color: black;
}

.content-section {
  background-color: black;
  color: white;
}

#welcome-message-title {
  padding-left: 3rem;
}

#welcome-message {
  padding-left: 3rem;
}

.home-background {
  background-color: black;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -20px; /* Adjust this value to align with the text */
}

#purchase-relics-btn {
  background-color: blueviolet;
}

#gallery-btn {
  background-color: blueviolet;
}

#analytics-btn {
  background-color: blueviolet;
}

@media screen and (max-width: 600px) {
  .button-group {
    padding: 0 20px 20px; /* Add padding on smaller screens */
  }

  #purchase-relics-btn,
  #gallery-btn,
  #analytics-btn {
    padding: 10px 20px; /* Adjust button padding on smaller screens */
  }
}
