/* Footer/Footer.css */
.footer-container {
  padding: 20px;
  background-color: black;
  color: white;
  border-top: 1px solid white;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-logo {
  background-image: url("../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
