/* Footer/Footer.css */
.footer-container {
  padding: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.footer-logo {
  background-image: url("../../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
